<h1><%= @user.username %></h1>
<p><%= @user.email %></p>
<%= link_to "Edit", edit_user_path(@user) %>
<%= link_to "Delete", user_path(@user), method: :delete, data: {confirm: "Really delete this user?"} %>
<br><br>
<%= link_to "Go back to all users", root_path %><br>